flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"4d46ae33.cc774","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a47b844e.e928a8","type":"remote-server","host":"localhost3","port":"1234567890"},{"id":"32ecdb03.bcb454","type":"remote-server","host":"localhost","port":"1234"},{"id":"dade4747.f263f8","type":"config-node","host":"server1","port":"1111"},{"id":"1fc0e04f.9f394","type":"remote-server","host":"localhost3","port":"1234567890"},{"id":"e290dca6.5f9be","type":"config-node","host":"localhostòsdngòsdsòdg","port":"1234455676747","jsondata":"[object Object]"},{"id":"5d34ad5b.1c9b04","type":"config-node","host":"localhost10","port":"10","jsondata":"[object Object]"},{"id":"fd8364a6.1cb208","type":"remote-server","host":"localhost20","port":"20"},{"id":"574aab59.7e0434","type":"remote-server","host":"localhostcapdcaz","port":"12345678"},{"id":"ab20bea.b11ee4","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:4840/UA/NoderedServer","secpol":"None","secmode":"None","login":false},{"id":"fd22b928.94a8a8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:4840","secpol":"None","secmode":"None","login":false},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"5e80d018.19639","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":280,"wires":[["1ffac8f0.5808c7"]]},{"id":"1ffac8f0.5808c7","type":"function","z":"f6f2187d.f17ca8","name":"","func":"global.set(\"config\",\"global\");\nmsg.global=global.get(\"config\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[["3544f343.4d67dc"]]},{"id":"3544f343.4d67dc","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]},{"id":"9813b2b5.53a12","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":480,"wires":[]},{"id":"af14f75e.c68908","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":480,"wires":[["ea0e5983.acdc98"]]},{"id":"ea0e5983.acdc98","type":"lower-case","z":"f6f2187d.f17ca8","name":"add text","x":300,"y":480,"wires":[["9813b2b5.53a12"]]},{"id":"cd6bf754.bec798","type":"nodewithconfig","z":"f6f2187d.f17ca8","server":"e290dca6.5f9be","server2":"574aab59.7e0434","x":350,"y":640,"wires":[["a8ea8718.ee7f98"]]},{"id":"a8ea8718.ee7f98","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":640,"wires":[]},{"id":"9ffabc17.ff262","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":640,"wires":[["cd6bf754.bec798"]]},{"id":"9ea7aa91.6fa338","type":"test-node","z":"f6f2187d.f17ca8","name":"anothername","newproperty":"newvalue","typedInputJSON":"{\"azz\":\"cazz\"}","select":"1","x":270,"y":860,"wires":[["804935f0.d7dc98"]]},{"id":"e03da38.f13d46","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":860,"wires":[["9ea7aa91.6fa338"]]},{"id":"804935f0.d7dc98","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":860,"wires":[]},{"id":"23fb9740.415228","type":"test-node","z":"f6f2187d.f17ca8","name":"","newproperty":"newproperty","typedInputJSON":"{\"azz\":\"cazz\"}","editableList":"","select":"1","x":820,"y":860,"wires":[[]]},{"id":"78a81805.71b858","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":860,"wires":[["23fb9740.415228"]]},{"id":"a9d91924.c65828","type":"tcp out","z":"f6f2187d.f17ca8","host":"","port":"9999","beserver":"server","base64":false,"end":false,"name":"tcp listen 9999","x":310,"y":760,"wires":[]},{"id":"a128a1e8.a9698","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":760,"wires":[["a9d91924.c65828"]]},{"id":"49ab0405.071f7c","type":"tcp in","z":"f6f2187d.f17ca8","name":"","server":"client","host":"localhost","port":"9999","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":530,"y":760,"wires":[["88e7b4ff.63e218"]]},{"id":"88e7b4ff.63e218","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":760,"wires":[]},{"id":"37deed38.2e5632","type":"http in","z":"f6f2187d.f17ca8","name":"http GET /config","url":"/config","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1100,"wires":[["50aa8a5.28de674"]]},{"id":"8c9e5c27.d874c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":1140,"wires":[]},{"id":"8bcadff7.bd629","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:1880/config","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":1020,"wires":[["f3716a01.758768"]]},{"id":"9920053c.936528","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1020,"wires":[["8bcadff7.bd629"]]},{"id":"f3716a01.758768","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":1020,"wires":[]},{"id":"32319893.b4b2f8","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"","headers":{},"x":620,"y":1100,"wires":[]},{"id":"50aa8a5.28de674","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":\"...\"}","tot":"json"},{"t":"set","p":"request","pt":"msg","to":"req","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1100,"wires":[["8c9e5c27.d874c","32319893.b4b2f8"]]},{"id":"8b326c9c.f708e","type":"globalvarsconfig","z":"f6f2187d.f17ca8","conffile":"${VARFILE}","newproperty":"newproperty","typedInputJSON":"[object Object]ì","editableList":{"db":"\"DB_OP010A_MES_Interface_1\"","struct":"\"MES_MES_TO_PLC_Key_PartNumber\"","rules":{"\"Part01\"":{"action":"WRITE","type":"String","value":"0"},"\"Part17\"":{"action":"READ","type":"String","value":"fsdvcsdv"},"\"Part18\"":{"action":"EXCLUDE","type":"String","value":"sdvsdvsdfv"},"\"Part19\"":{"action":"READ","type":"String","value":"sdvsdvsdvsdv"}}},"select":"1","select2":"1","x":460,"y":1380,"wires":[["6fc4b7c6.41f018","841198ab.4b79c8"]]},{"id":"dc7100d2.53d13","type":"http in","z":"f6f2187d.f17ca8","name":"http GET /setVariables","url":"/setVariables","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1380,"wires":[["8b326c9c.f708e"]]},{"id":"841198ab.4b79c8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1420,"wires":[]},{"id":"6fc4b7c6.41f018","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"","headers":{},"x":770,"y":1380,"wires":[]},{"id":"eff053c0.e66cf","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"stocazzo","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1560,"wires":[[]]},{"id":"b66a51c.d6d99b","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","v":"VARFILE","vt":"env"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1580,"wires":[["ecb324f3.67cbc8"]]},{"id":"ecb324f3.67cbc8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":1640,"wires":[]},{"id":"bab6e098.8896e","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","v":"HOSTNAME","vt":"env"},{"p":"varfile","v":"${VARFILE}","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"${HOME}","payloadType":"str","x":690,"y":1620,"wires":[["337e1ce2.7e4154"]]},{"id":"98c7c4a6.3078e8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":1620,"wires":[]},{"id":"337e1ce2.7e4154","type":"function","z":"f6f2187d.f17ca8","name":"","func":"let hostname = env.get(\"HOSTNAME\");\nmsg.hostname=hostname\nconsole.log(\"HOSTNAME: \"+hostname)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1620,"wires":[["98c7c4a6.3078e8"]]},{"id":"87a97dca.614ff","type":"globalvarsconfig","z":"f6f2187d.f17ca8","conffile":"","newproperty":"newproperty","typedInputJSON":{},"editableList":{"db":"\"DB_OP010A_MES_Interface_1\"","struct":"\"MES_MES_TO_PLC_Key_PartNumber\"","rules":{"\"Part01\"":{"action":"READ","type":"String","value":""},"\"Part17\"":{"action":"READ","type":"String","value":""},"\"Part18\"":{"action":"READ","type":"String","value":""},"\"Part19\"":{"action":"READ","type":"String","value":""}}},"select":"1","select2":"1","x":480,"y":1440,"wires":[[]]},{"id":"486f4a69.157cf4","type":"globalvarsconfig","z":"f6f2187d.f17ca8","conffile":"","newproperty":"newproperty","typedInputJSON":{},"editableList":{"db":"\"DB_070MES_Interface\"","struct":"\"MES_MES_TO_PLC_INTERFACE\"","rules":{"\"Solidification_time\"":{"action":"WRITE","type":"Int32","value":"sdfdaqqwdqwd"},"\"PartType\"":{"action":"EXCLUDE","type":"String","value":"aqdasafcas"},"\"PartMark\"":{"action":"READ","type":"Int16","value":"\\1111111"},"\"RepairPathString\"":{"action":"READ","type":"String","value":"eregergerergergerg"},"\"MES_Save_Key_Data\"":{"action":"READ","type":"Boolean","value":"false"},"\"MES_Save_QC_Data\"":{"action":"READ","type":"Boolean","value":"false"},"\"TransType\"":{"action":"READ","type":"Boolean","value":"false"},"\"ApplyForID_done\"":{"action":"READ","type":"Boolean","value":"false"},"\"Job_Done\"":{"action":"READ","type":"Boolean","value":"false"},"\"ReleaseOkPlt\"":{"action":"READ","type":"Boolean","value":"false"},"\"ReleaseNokPlt\"":{"action":"READ","type":"Boolean","value":"false"},"\"PartID\"":{"action":"READ","type":"String","value":""},"\"Type_inconsistent\"":{"action":"READ","type":"Boolean","value":"false"},"\"AllowStationStart\"":{"action":"READ","type":"Boolean","value":"false"}}},"select":"2","select2":"2","x":350,"y":1760,"wires":[[]]},{"id":"534e10d9.ea788","type":"collect-variables","z":"4d46ae33.cc774","varfile":"${VARFILE}","typedInputJSON":"{\"\\\"DB_OP010A_MES_Interface_1\\\"\":{\"\\\"MES_MES_TO_PLC_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part17\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part18\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part19\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"Order_quantity_valid\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Order_changed\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Initial_order_quantity\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"Order change quantity\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"RepairPathString\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Finish_inspection\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Order_generated\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Cell_upper_vol\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"Cell_lower_vol\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"Cell_upper_inter_R\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"Cell_lower_inter_R\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"Cell_up_IR\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"Cell_low_IR\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"Initial_order_received\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Changed_order_received\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Initial_order_quantity_FB\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"Order_change_quantity_FB\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"ApplyForOnline\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_070MES_Interface\\\"\":{\"\\\"MES_MES_TO_PLC_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part17\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part18\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part19\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"Solidification_time\\\"\":{\"type\":\"Int32\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"RepairPathString\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ApplyForID_done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"ApplyForOnline\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"ApplyForId\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartID_received\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part02\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part03\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part04\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part05\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part06\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part07\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part08\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part09\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part10\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part11\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part12\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part13\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part14\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO1\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value1_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value1_02\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO2\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_160MES_Interface\\\"\":{\"\\\"MES_MES_TO_PLC_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part17\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part18\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part19\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"Solidification_time\\\"\":{\"type\":\"Int32\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"RepairPathString\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"ApplyForOnline\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_080MES_Interface\\\"\":{\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"Cancel_order\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"Empty_line_process\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part17\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_OP010A_MES_Download_Recipe_Data\\\"\":{\"\\\"Recipe_Data\\\"\":{\"\\\"Recipe_Version_H\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Version_L\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP010_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK3\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK3\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK3\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK3\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK4\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK4\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK4\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP015_Recipe\\\".\\\"TASK4\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK3\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK3\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK3\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP030_Recipe\\\".\\\"TASK3\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"TASK11\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"TASK11\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"TASK11\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP035_Recipe\\\".\\\"TASK11\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"TASK11\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"TASK11\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"TASK11\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP040_Recipe\\\".\\\"TASK11\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"TASK11\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"TASK11\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"TASK11\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP050_Recipe\\\".\\\"TASK11\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK3\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK3\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK3\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP060_Recipe\\\".\\\"TASK3\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP065_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP065_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP065_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP065_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP065_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0}}},\"\\\"DB_OP070MES_Download_Recipe_Data\\\"\":{\"\\\"Recipe_Data\\\"\":{\"\\\"Recipe_Version_H\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Version_L\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP070_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP080_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP080_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP080_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP080_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP080_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP090_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP090_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP090_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP090_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP090_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP100_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP100_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP100_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP100_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP100_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP110_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP130_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP130_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP130_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP130_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP130_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP140_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP140_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP140_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP140_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP140_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP150_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0}}},\"\\\"DB_OP160OnlineMES_Download_Recipe_Data\\\"\":{\"\\\"Recipe_Data\\\"\":{\"\\\"Recipe_Version_H\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Version_L\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK3\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK3\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK3\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP160_Recipe\\\".\\\"TASK3\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"TASK2\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"TASK2\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"TASK2\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP170_Recipe\\\".\\\"TASK2\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP180_Recipe\\\".\\\"Station_Number\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP180_Recipe\\\".\\\"TASK1\\\".\\\"Program_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP180_Recipe\\\".\\\"TASK1\\\".\\\"Device_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP180_Recipe\\\".\\\"TASK1\\\".\\\"Feature_No\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"Recipe_Map\\\".\\\"OP180_Recipe\\\".\\\"TASK1\\\".\\\"Part_Add_Point\\\"\":{\"type\":\"Byte\",\"value\":0}}},\"\\\"DB_OP010A_MES_Interface_2\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_OP010A_MES_Interface_3\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_OP010A_MES_Interface_4\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_OP015A_MES_Interface_1\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO2\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO3\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO4\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value4_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_OP015A_MES_Interface_2\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO2\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO3\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO4\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value4_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_OP015A_MES_Interface_3\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO2\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO3\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO4\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value4_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_OP015A_MES_Interface_4\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task4\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO2\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO3\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO4\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value4_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_030Slot1_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO3\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_02\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_030Slot2_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO3\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_02\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_030Slot3_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO3\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_02\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_030Slot4_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO3\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_01\\\"\":{\"type\":\"Double\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value3_02\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_035C2016_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"ApplyForUnload\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"UnloadCompleted\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part02\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_MES<-->PLC_Scanner\\\"\":{\"\\\"PLC_TO_CODE\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PLC_TO_MES_REQUEST\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_TO_PLC_RECEIVE_FINISH\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_035C2017_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"ApplyForUnload\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"UnloadCompleted\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part02\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_MES<-->PLC_Scanner\\\"\":{\"\\\"PLC_TO_CODE\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PLC_TO_MES_REQUEST\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_TO_PLC_RECEIVE_FINISH\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_040_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part02\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_050_MES_Interface_C2018\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part02\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_050_MES_Interface_C2019\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part02\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Scrapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task11\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_060MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part01\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part02\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task3\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_065MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_OP090A_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_OP100A_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value1_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_110MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Device_NO1\\\"\":{\"type\":\"Byte\",\"value\":0},\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value1_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_130MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_Key_PartNumber\\\"\":{\"\\\"Part18\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"Part19\\\"\":{\"type\":\"String\",\"value\":\"\"}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_OP140A_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value1_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_OP150A_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_OP150B_1_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_OP150B_2_MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_QC_Data\\\"\":{\"\\\"UDT_PLC_TO_MES_QC\\\".\\\"Value2_01\\\"\":{\"type\":\"Double\",\"value\":0}}},\"\\\"DB_160MES_Interface_1\\\"\":{\"\\\"MES_PLC_TO_MES_Interface_1\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_Interface_1\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_170MES_Interface_Test1\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_170MES_Interface_Test2\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_170MES_Interface_Test3\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_170MES_Interface_Test4\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_170MES_Interface_Test5\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task2\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task2\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}},\"\\\"DB_180MES_Interface\\\"\":{\"\\\"MES_PLC_TO_MES_INTERFACE\\\"\":{\"\\\"AllowSave_KeyDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowSave_QCDate\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletInPos\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"PalletNm\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartID\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"PartMark\\\"\":{\"type\":\"Int16\",\"value\":0},\"\\\"PartType\\\"\":{\"type\":\"String\",\"value\":\"\"},\"\\\"DataResult\\\"\":{\"type\":\"Int16\",\"value\":0}},\"\\\"MES_MES_TO_PLC_INTERFACE\\\"\":{\"\\\"MES_Save_Key_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"MES_Save_QC_Data\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"TransType\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Job_Done\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseOkPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"ReleaseNokPlt\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Type_inconsistent\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"AllowStationStart\\\"\":{\"type\":\"Boolean\",\"value\":false}},\"\\\"MES_PLC_TO_MES_TASK_Data\\\"\":{\"\\\"Task1\\\".\\\"Enable\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Started\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Finished\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Ok\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"NOK\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Scapped\\\"\":{\"type\":\"Boolean\",\"value\":false},\"\\\"Task1\\\".\\\"Repaired\\\"\":{\"type\":\"Boolean\",\"value\":false}}}}","x":470,"y":140,"wires":[["6cb18d45.e05db4","aea4dd3b.04251"],["a03e4759.728da8","d7a08ce8.7145b"]]},{"id":"60b3b0fe.154e5","type":"http in","z":"4d46ae33.cc774","name":"http GET /getVariables","url":"/getVariables","method":"get","upload":false,"swaggerDoc":"","x":220,"y":140,"wires":[["534e10d9.ea788"]]},{"id":"aea4dd3b.04251","type":"debug","z":"4d46ae33.cc774","name":"collect-variables msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":180,"wires":[]},{"id":"6cb18d45.e05db4","type":"http response","z":"4d46ae33.cc774","name":"","statusCode":"","headers":{},"x":670,"y":140,"wires":[]},{"id":"c550780e.c54248","type":"OpcUa-Server","z":"4d46ae33.cc774","port":"4840","name":"","endpoint":"UA/NoderedServer","users":"users.json","nodeset":"","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":true,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":true,"endpointBasic256":true,"endpointBasic256Sha256":true,"maxNodesPerBrowse":0,"maxNodesPerHistoryReadData":0,"maxNodesPerHistoryReadEvents":0,"maxNodesPerHistoryUpdateData":0,"maxNodesPerRead":0,"maxNodesPerWrite":0,"maxNodesPerMethodCall":0,"maxNodesPerRegisterNodes":0,"maxNodesPerNodeManagement":0,"maxMonitoredItemsPerCall":0,"maxNodesPerHistoryUpdateEvents":0,"maxNodesPerTranslateBrowsePathsToNodeIds":0,"x":320,"y":300,"wires":[["b2036564.90bbb8","db17a823.344468"]]},{"id":"c57242d9.62546","type":"link in","z":"4d46ae33.cc774","name":"OpcUA server IN","links":["d7a08ce8.7145b","c1869c10.ec6b6","271e85bd.51c64a"],"x":145,"y":300,"wires":[["c550780e.c54248","78930620.4ba158"]]},{"id":"b2036564.90bbb8","type":"link out","z":"4d46ae33.cc774","name":"OpcUA server OUT","links":[],"x":505,"y":300,"wires":[]},{"id":"78930620.4ba158","type":"debug","z":"4d46ae33.cc774","name":"OpcUA server IN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":360,"wires":[]},{"id":"db17a823.344468","type":"debug","z":"4d46ae33.cc774","name":"OpcUA server OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":360,"wires":[]},{"id":"d7a08ce8.7145b","type":"link out","z":"4d46ae33.cc774","name":"","links":["c57242d9.62546"],"x":635,"y":260,"wires":[]},{"id":"a03e4759.728da8","type":"debug","z":"4d46ae33.cc774","name":"collect-variables msg2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":220,"wires":[]},{"id":"82a13bea.fcf638","type":"OpcUa-Item","z":"4d46ae33.cc774","item":"ns=3;\"DB_030Slot1_MES_Interface\".\"MES_MES_TO_PLC_INTERFACE\".\"AllowStationStart\"","datatype":"String","value":"","name":"","x":380,"y":520,"wires":[["118b1c9f.c62c73"]]},{"id":"dc41d3fd.e13a7","type":"inject","z":"4d46ae33.cc774","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":190,"y":520,"wires":[["82a13bea.fcf638","79440f69.a409c"]]},{"id":"118b1c9f.c62c73","type":"debug","z":"4d46ae33.cc774","name":"OPC UA Item OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":520,"wires":[]},{"id":"79440f69.a409c","type":"function","z":"4d46ae33.cc774","name":"","func":"msg.payload= false\nmsg.topic='ns=3;s=\"DB_180MES_Interface\".\"MES_PLC_TO_MES_TASK_Data\".\"Task1\".\"Finished\"'\nmsg.datatype= \"Boolean\"\nmsg.browseName= \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":580,"wires":[["4747ba6a.532044","aceb8c4.f86fd7"]]},{"id":"aceb8c4.f86fd7","type":"OpcUa-Client","z":"4d46ae33.cc774","endpoint":"ab20bea.b11ee4","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Client WRITE","x":580,"y":580,"wires":[["6890a64a.ca73b8"]]},{"id":"4747ba6a.532044","type":"debug","z":"4d46ae33.cc774","name":"custom OPC UA Item OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":640,"wires":[]},{"id":"6890a64a.ca73b8","type":"debug","z":"4d46ae33.cc774","name":"OPC UA Client OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":580,"wires":[]},{"id":"fba95da9.01039","type":"OpcUa-Client","z":"4d46ae33.cc774","endpoint":"ab20bea.b11ee4","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Client READ","x":510,"y":720,"wires":[["5af6ffe6.aadf4"]]},{"id":"525d1d83.770264","type":"inject","z":"4d46ae33.cc774","name":"nodeId","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=3;s=\"DB_180MES_Interface\".\"MES_PLC_TO_MES_TASK_Data\".\"Task1\".\"Finished\"","x":270,"y":720,"wires":[["fba95da9.01039"]]},{"id":"5af6ffe6.aadf4","type":"debug","z":"4d46ae33.cc774","name":"Client READ OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":720,"wires":[]},{"id":"650274db.ee237c","type":"OpcUa-Client","z":"4d46ae33.cc774","endpoint":"ab20bea.b11ee4","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Client WRITE","x":520,"y":820,"wires":[["4272c23d.ffa64c"]]},{"id":"39d1940d.10300c","type":"inject","z":"4d46ae33.cc774","name":"set nodeId value to FALSE","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"datatype","v":"Boolean","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=3;s=\"DB_180MES_Interface\".\"MES_PLC_TO_MES_TASK_Data\".\"Task1\".\"Finished\"","payload":"false","payloadType":"str","x":250,"y":820,"wires":[["650274db.ee237c"]]},{"id":"4272c23d.ffa64c","type":"debug","z":"4d46ae33.cc774","name":"Client WRITE OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":820,"wires":[]},{"id":"8ba2c3e0.77ad6","type":"inject","z":"4d46ae33.cc774","name":"set Variable value (JSON Inject wrong variableName)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"messageType\":\"Variable\",\"variableName\":\"ns=3:s=\\\"DB_180MES_Interface\\\".\\\"MES_PLC_TO_MES_TASK_Data\\\".\\\"Task1\\\".\\\"Finished\\\"\",\"variableValue\":false}","payloadType":"json","x":330,"y":1000,"wires":[["c1869c10.ec6b6","37904cfc.30dc04"]]},{"id":"c1869c10.ec6b6","type":"link out","z":"4d46ae33.cc774","name":"","links":["c57242d9.62546"],"x":835,"y":940,"wires":[]},{"id":"37904cfc.30dc04","type":"debug","z":"4d46ae33.cc774","name":"set Variable value OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":1000,"wires":[]},{"id":"f6c31601.b4b8b8","type":"inject","z":"4d46ae33.cc774","name":"addVariable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=3;s=\"DB_180MES_Interface\".\"MES_PLC_TO_MES_TASK_Data\".\"Task1\".\"Finished\";datatype=Boolean","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":210,"y":940,"wires":[["c1869c10.ec6b6"]]},{"id":"a940c8d0.7ea4a8","type":"inject","z":"4d46ae33.cc774","name":"set nodeId value to TRUE","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"datatype","v":"Boolean","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=3;s=\"DB_180MES_Interface\".\"MES_PLC_TO_MES_TASK_Data\".\"Task1\".\"Finished\"","payload":"true","payloadType":"str","x":250,"y":860,"wires":[["650274db.ee237c"]]},{"id":"a21ea9fb.9892d8","type":"inject","z":"4d46ae33.cc774","name":"set Variable value (JSON Inject working variableName)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"messageType\":\"Variable\",\"variableName\":\"3:\\\"DB_180MES_Interface\\\".\\\"MES_PLC_TO_MES_TASK_Data\\\".\\\"Task1\\\".\\\"Finished\\\"\",\"variableValue\":true}","payloadType":"json","x":340,"y":1080,"wires":[["c1869c10.ec6b6","37904cfc.30dc04"]]},{"id":"684770c6.c9e16","type":"link in","z":"4d46ae33.cc774","name":"OPC Client WRITE","links":["78c803fd.7f901c","483cc2.4da5a34"],"x":225,"y":780,"wires":[["650274db.ee237c"]]},{"id":"eef31c49.664d6","type":"inject","z":"4d46ae33.cc774","name":"set nodeId Int16 value to 111","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"datatype","v":"Int16","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=3;s=\"DB_180MES_Interface\".\"MES_PLC_TO_MES_INTERFACE\".\"PalletNm\"","payload":"111","payloadType":"str","x":260,"y":1300,"wires":[["78c803fd.7f901c"]]},{"id":"78c803fd.7f901c","type":"link out","z":"4d46ae33.cc774","name":"","links":["684770c6.c9e16"],"x":455,"y":1300,"wires":[]},{"id":"1c153515.40ae0b","type":"select-variables","z":"4d46ae33.cc774","select":"1","select2":"2","editableList":{"db":"\"DB_OP010A_MES_Interface_1\"","struct":"\"MES_MES_TO_PLC_INTERFACE\"","rules":{"\"Order_quantity_valid\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"Order_changed\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"Initial_order_quantity\"":{"action":"EXCLUDE","type":"Int16","value":"222"},"\"Order change quantity\"":{"action":"EXCLUDE","type":"Int16","value":"444"},"\"PartType\"":{"action":"EXCLUDE","type":"String","value":"mazzzz"},"\"PartMark\"":{"action":"EXCLUDE","type":"Int16","value":"111"},"\"RepairPathString\"":{"action":"EXCLUDE","type":"String","value":"azzzz"},"\"Finish_inspection\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"Order_generated\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"Cell_upper_vol\"":{"action":"EXCLUDE","type":"Double","value":"1.66"},"\"Cell_lower_vol\"":{"action":"EXCLUDE","type":"Double","value":"1.55"},"\"Cell_upper_inter_R\"":{"action":"EXCLUDE","type":"Double","value":"1.44"},"\"Cell_lower_inter_R\"":{"action":"EXCLUDE","type":"Double","value":"1.33"},"\"Cell_up_IR\"":{"action":"EXCLUDE","type":"Double","value":"1.22"},"\"Cell_low_IR\"":{"action":"EXCLUDE","type":"Double","value":"1.11"},"\"MES_Save_Key_Data\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"MES_Save_QC_Data\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"TransType\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"Job_Done\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"ReleaseOkPlt\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"ReleaseNokPlt\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"Type_inconsistent\"":{"action":"EXCLUDE","type":"Boolean","value":"true"},"\"AllowStationStart\"":{"action":"EXCLUDE","type":"Boolean","value":"true"}}},"typedInputJSON":{},"x":450,"y":1380,"wires":[["c58bf5b5.832fb8","f96ab782.398448"],["a1f791e4.6bd3a","483cc2.4da5a34"],["99844dfc.56b32","271e85bd.51c64a"]]},{"id":"89550fdb.86c1a","type":"inject","z":"4d46ae33.cc774","name":"set Variable value (JSON Inject wrong variableName)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"messageType\":\"Variable\",\"variableName\":\"\\\"DB_180MES_Interface\\\".\\\"MES_PLC_TO_MES_TASK_Data\\\".\\\"Task1\\\".\\\"Finished\\\"\",\"variableValue\":false}","payloadType":"json","x":330,"y":1040,"wires":[["c1869c10.ec6b6","37904cfc.30dc04"]]},{"id":"967aa806.df35e8","type":"inject","z":"4d46ae33.cc774","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1380,"wires":[["1c153515.40ae0b"]]},{"id":"c58bf5b5.832fb8","type":"debug","z":"4d46ae33.cc774","name":"Client READ msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1320,"wires":[]},{"id":"a1f791e4.6bd3a","type":"debug","z":"4d46ae33.cc774","name":"Client WRITE msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":1380,"wires":[]},{"id":"99844dfc.56b32","type":"debug","z":"4d46ae33.cc774","name":"Server SET Variable msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":1440,"wires":[]},{"id":"f96ab782.398448","type":"link out","z":"4d46ae33.cc774","name":"","links":["a855491e.5f7238"],"x":635,"y":1320,"wires":[]},{"id":"483cc2.4da5a34","type":"link out","z":"4d46ae33.cc774","name":"","links":["684770c6.c9e16"],"x":655,"y":1380,"wires":[]},{"id":"271e85bd.51c64a","type":"link out","z":"4d46ae33.cc774","name":"","links":["c57242d9.62546"],"x":635,"y":1440,"wires":[]},{"id":"a855491e.5f7238","type":"link in","z":"4d46ae33.cc774","name":"OPC Client READ","links":["f96ab782.398448"],"x":235,"y":660,"wires":[["fba95da9.01039"]]},{"id":"ea67f8ca.6e7fc8","type":"http in","z":"4d46ae33.cc774","name":"http PUT /setOPC","url":"/setOPC","method":"put","upload":false,"swaggerDoc":"","x":210,"y":180,"wires":[["534e10d9.ea788"]]},{"id":"1c56785e.88d348","type":"inject","z":"4d46ae33.cc774","name":"set Variable value (JSON Inject working variableName)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"messageType\":\"Variable\",\"variableName\":\"3:\\\"DB_OP010A_MES_Interface_1\\\".\\\"MES_MES_TO_PLC_INTERFACE\\\".\\\"Cell_low_IR\\\"\",\"variableValue\":11.8}","payloadType":"json","x":340,"y":1120,"wires":[["c1869c10.ec6b6","37904cfc.30dc04"]]},{"id":"c9bded12.793d6","type":"inject","z":"4d46ae33.cc774","name":"set Variable value (JSON Inject working variableName)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"messageType\":\"Variable\",\"variableName\":\"3:\\\"DB_OP010A_MES_Interface_1\\\".\\\"MES_MES_TO_PLC_INTERFACE\\\".\\\"PartType\\\"\",\"variableValue\":\"stracazz\"}","payloadType":"json","x":340,"y":1160,"wires":[["c1869c10.ec6b6","37904cfc.30dc04"]]},{"id":"2d99ebec.1ae264","type":"inject","z":"4d46ae33.cc774","name":"set Variable value (JSON Inject working variableName)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"messageType\":\"Variable\",\"variableName\":\"3:\\\"DB_OP010A_MES_Interface_1\\\".\\\"MES_MES_TO_PLC_INTERFACE\\\".\\\"Initial_order_quantity\\\"\",\"variableValue\":22}","payloadType":"json","x":340,"y":1200,"wires":[["c1869c10.ec6b6","37904cfc.30dc04"]]}]